<div class="container mt-5">
    <h1><%= @pet.name %> <small>(<%= @pet.species %> )</small></h1>
    <h3>Description: <%= @pet.description %></h3>

    <ul>
        <li>Location: <%= @pet.location %></li>
        <li>Found on: <%= @pet.found_on %></li>
    </ul>
    <br>
    <%= link_to "Edit", edit_pet_path %>
    <br>
    <%= link_to "Delete", pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@pet.name}?"} %>
    <br>
    <%= link_to "Back to home", pets_path %>
</div>